!!! 5
%html
  %head
    %title #{@title} | Network Awesome URLList
    %link{:href => 'css/app.css', :rel => "stylesheet", :type => "text/css"}
  %body
    %h1 #{@title}
    %div{:class => 'description'} #{@desc}
    %p
      %a{:href => @url } original
    %p
      %a{:href => 'http://hitode909.appspot.com/paralleltube/#' + @ids.join('%20') } paralleltube
    - @shows.each do |show|
      %h2
        %a{:href => '#' + show.id, :name => show.id} #{show.name}
      = show2img(show)
    %script{:type => "text/javascript",
            :src  => "https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"}
    %script{:type => "text/javascript",
            :src  => "js/app.js"}
